h1{
    display: flex;
    justify-content: center;
}

body > div {
    display: flex;
    justify-content: space-between;
}

body > div > div {
    border: solid 2px orange;
    height: 15rem;
    width: 10rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.selectName {
    background: orangered;
    width: 3rem;
}

ul {
    list-style-type: none
}